.split-container {
  display: flex;
  height: 100vh;
}

.left-section,
.right-section {
  flex: 1;
  padding: 40px;
}

.left-section {
  background-color: #3498db;
  color: #fff;
}

.right-section {
  background-color: #fff;
  color: #333;
}

.timeline {
  position: relative;
  margin: 40px 0;
}

.timeline-item {
  position: relative;
  padding: 40px 20px;
  border-left: 2px solid #3498db;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3498db;
  border: 2px solid #fff;
}

.timeline-content {
  margin-top: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.starry-night{
  background-color:black;
  height: 100vh;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
