body {
  font-family: 'Arial', sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #070111;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #34304B;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  /* margin-right: 20px; */
  margin: 15px 35px 15px 25px;
  border-radius: 6px;
}


.sidebar-container {
  margin-top: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .sidebar-container {
    margin-right: 0;
  }
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #3c3756;
}
/* 
.content {
  flex: 1;
  padding: 20px;
  height: 100vh; /* Make the content take the full height of the viewport 
  overflow-y: auto; /* Add scroll if content is longer than the viewport 
*/


.timeline {
  position: relative;
  margin: 40px 0;
}

.timeline-item {
  position: relative;
  padding: 40px 20px;
  border-left: 2px solid #3498db;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3498db;
  border: 2px solid #fff;
}

.timeline-content {
  margin-top: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  color: black;
}

.project-card:hover {
  transform: scale(1.05);
}

.starry-night{
  background-color:black;
  height: 100vh;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

hr {
  margin: 10px 30px;
}