body {
  font-family: 'Arial', sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #070111;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

header {
  background-color: #302358;
  color: #fff;
  text-align: left;
  padding: 2em;
  align-items: center;
  margin-top: 15px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 130px;
  margin-right: 20px;
  float: left;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #ffffff;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 10px 30px;
}

.contact-item {
  display: inline-block;
  margin: 0 60px;
  vertical-align: top;
}

.school-info {
  margin-top: 1em;
}

.class-list {
  margin-left: 20px;
}

.container {
  display: flex;
  min-height: 100vh;
  /* margin-left: 15%; */
}

.sidebar {
  width: 250px;
  background-color: #302358;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  /* margin-right: 20px; */
  margin: 15px 35px 15px 25px;
  border-radius: 6px;
  /* position: fixed; */
}

.sidebar-container {
  margin-top: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .sidebar-container {
    margin-right: 0;
  }
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #3c3756;
}


.external-links {
  display: flex;
  flex-direction: column; /* Display links in a column on small screens */
}

.external-links a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.icon {
  width: 24px; /* Set the desired width for the icons */
  height: 24px; /* Set the desired height for the icons */
  margin-right: 10px;
}

.external-links a:hover {
  background-color: #555;
}


.timeline {
  position: relative;
  margin: 40px 0;
}

.timeline-item {
  position: relative;
  padding: 40px 20px;
  border-left: 2px solid #3498db;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3498db;
  border: 2px solid #fff;
}

.timeline-content {
  margin-top: 10px;
}

.project-carousel {
  /* display: flex; */
  justify-content: space-around;
  padding: 40px;
}

.project-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.project-box {
  background-color: #1b0238;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  width: 560px;
}

.project-box h3 {
  margin-bottom: 10px;
}

.image-carousel {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  margin-bottom: 15px;
}

.image-carousel img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-box p {
  text-align: center;
}

.technology-span{
  background-color: #3c3756;
  margin: 5px 10px;
  padding: 6px;
  border-radius: 6px;
}

.arrow-buttons {
  /* position: absolute; */
  top: 50%;
  /* transform: translateY(-50%); */
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 60px 30px;
  color: white;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.arrow-btn:hover {
  color: #555;
}

.starry-night{
  background-color:black;
  height: 100vh;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.planet-links{
  margin-top: 75px;
}